.env
node_modules/

# Mac system files
**/.DS_Store
backend/uploads/images/*
backend/uploads/attachments/*
!backend/uploads/images/example.txt
!backend/uploads/attachments/example.txt
.operators_data.json