DB_URL=mongodb://127.0.0.1:27017/scudo
JWT_SECRET=<your_jwt_secret>
CURRENT_HOST=<your_current_host>
ADMIN_EMAIL="<your_admin_email>"
ADMIN_PSW="<your_admin_password>"
EMAIL_HOST="<your_email_smtp_host>"
EMAIL_PORT=<your_email_smtp_port>
NO_REPLY_EMAIL_USER="<your_no_reply_email_user>"
NO_REPLY_EMAIL_PASSWORD="<your_no_reply_email_password>"